/* 
.floating-input-container {
    position: relative;
    margin-bottom: 20px;
    background-color: blue;
  }
  
  .floating-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    transition: border-bottom-color 0.3s;
  }
  
  .floating-input.has-value {
    border-bottom-color: #396afc;
  }
  
  .floating-label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: top 0.3s, font-size 0.3s;
  }
  
  .floating-input.has-value + .floating-label {
    top: -20px;
    font-size: 12px;
    color: #396afc;
  }
   */