@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500;600;700;800;900&display=swap');


:root {
    --background-color: #FFF1F6F9;
    --color-orange :  rgb(255, 98, 0);
    --color-bg-dark : #292929; 
    --color-bg-light : #779dbd1b;
    --color-bg-item-light : #e0e0e0;
    --color-blue-light : #4c46fe;   
    --box-shadow-1 :rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    --box-shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    overflow: hidden;
}

body {
    height: 200vh;
}
